@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Arial, sans-serif;
}

/* NAVIGATION BAR */

.nav-header {
    margin: 0;
    height: 70px;
}

.nav-left {
    height: 100%;
    width: 15%;
    float: left;
}

.fa-instagram {
    height: 60px;
    width: 60px;
    margin: 20px 0 0 20px;
    float: left;
}

.nav-header > div > img {
    height: 60px;
    width: auto;
    margin: 8px 0 0 -20px;
    float: left;
}

.nav-middle {
    height: 100%;
    width: 60%;
    float: left;
}

.search-container {
    margin: 5px 0 0 100px;
    height: 100%;
    width: 50%;
    float: left;
}

.search-container input[type=text] {
    width: 500px;
    padding: 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    float: left;
    background: #eee 
}
  
.search-container button {
    float: left;
    padding: 6px 10px;
    margin: 8px 0 0 -50px;
    margin-right: 16px;
    background: none;
    font-size: 23px;
    border: none;
    cursor: pointer;
    color: silver;
}

.button-container {
    margin: 5px 0 0 200px;
    height: 100%;
    width: 20%;
    float: left;
}

.button-container button {
    width: 200px;
    padding: 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    float: left;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-weight: bold;
}

.post-plus {
    width: 100%;
    height: 100%;
}


/* END NAVIGATION BAR */

.wrapper {
    background-color: lightgray;
    padding: 20px;
}

.card {
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 70px auto;
}

.card-header {
    height: 10%;
}

.header-title {
    width: 78%;
    height: 100%;
    float: left;
}

.header-title > p {
    margin: 0;
    padding: 20px 0 0 20px;
    font-weight: bold;
    font-size: 25px;
}

.header-date {
    padding: 0 0 10px 10px;
    width: 20%;
    height: 100%;
    float: left;
}

.header-date > p {
    margin: 0;
    padding: 20px 0 0 40px;
    font-size: x-large;
    color: rgb(170, 170, 170);
}


.card-img {
    height: 60%;
}

.card-img > img {
    width: 100%;
    height: 100%;
}

.card-body {
    height: 30%;
}

.card-body > p {
    margin: 20px 30px 0 20px;
    padding: 20px 0 0 20px;
    font-size: x-large;
}